body {
    background-color: hsl(0,4.8%,95.9%);

}

p {
    display: inline-block;
    text-align: left;
    font-family:"DM Sans" ;
    line-height: 15px;
}


.bento-grid {
    width: 70vw;
    height: 85vh;
    background-color: hsl(0,4.8%,95.9%);
    /* margin-left: auto;
    margin-right: auto; */
    position: absolute;
    left: 15%;
    top: 40px;

    display: grid;
    gap: min(18px,1.5vw);
    /* border: 30px solid black; */
    /* grid-template-columns: 70px 70px 70px 70px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.25fr 0.334fr 0.667fr 1fr;
    

}
.highlight{
    font-weight:620;
    opacity: 0.9;
}
.small-text {
    font-size: 11px;
}

.box {
    display: inline-block;
    position: absolute;
    /* display: flex;
    flex-direction: column;
    */
}
.box-1 {
    background-color: hsl(256, 67%, 59%);
    color: white;
    border-radius: 5px;
    /* width: 100%; */
    /* padding: 1rem; */
    /* margin: 1rem; */
    /* margin-left: auto;
    margin-right: auto; */
    grid-column: 2/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%;

}
.box-1 img {
    width: min(40%,145px);
    height: 25px;
    object-fit: contain;
    left: 30%;
    right: 20%;
    top: 56%;

}
.box-1 .highlight-big {
    text-align: center;
    font-size: max(min(2rem,4.45vw),1.82rem);
    line-height: 35px;
    
    top: -4%;
    left: 2.5%;
    right: 2.5%;

    
}
.box-1 .small-text{
    top: 65%;
    left: 30%;
    right: 20%;
    font-size: max(12px,1.1vw);

}


.box-2 {
    background-color: #FEFEFF;
    border-radius: 5px;
    /* padding: 1rem; */
    grid-column: 2/3;
    grid-row: 2/4;
    width: 100%;
    height: 100%;
    
}
.box-2 img {
    width: 90%;
    height: 30%;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    object-fit: cover;
    object-position: left;
    right: 0%;
    top: 2%;
}
.box-2 .highlight {
    top: 30%;
    left: 10%;
    right: 15%;
}
.box-3 {
    background-color: hsl(39, 100%, 71%);
    border-radius: 5px;
    /* padding: 1rem; */
    grid-column: 3/4;
    grid-row: 2/4;
    width: 100%;
    height: 100%;
    
}
.box-3 img {
    width: 80%;
    height: 35%;
    object-fit: cover;
    object-position: top;
    bottom: 0%;
    right: 10%;
}
.box-3 .highlight {
    left: 10%;
    right: 10%;
}

.box-4 {
    background-color: hsl(254, 88%, 90%);
    border-radius: 5px;
    /* padding: 1rem; */
    
    grid-column: 4/5;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    
}
.box-4 img {
    width: 90%;
    height: 170px;
    /* position:relative;
    right: -1.5vw; */
   position: absolute;
   top: 18%;
   right: 0%;
    object-fit: cover;
    object-position: left;
}
.box-4 .highlight {
    left: 10%;
    top: 1%;
}
.box-4 .small-text {
    position: absolute;
    left: 10%;
    top: 66%;
}

.box-5 {
    background-color: hsl(256, 67%, 59%);
    border-radius: 5px;
    color: white;
    /* padding: 1rem; */
    grid-column: 3/5;
    grid-row: 4/5;
    width: 100%;
    height: 100%;
    
}
.box-5 img {
    height: 90%;
    width: max(30%,85px);
    object-fit: contain;
    left: 3.5%;
    top: 1.5%;
}
.box-5 .highlight {
    font-size: max(min(1.6rem,4vw),1.4rem);
    font-weight: 300;
    left: max(35%,95px);
    right: 15%;
    top: 5%;
   
    line-height: 20px;
}

.box-6 {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    /* padding: 1rem; */
    grid-column: 2/3;
    grid-row: 4/5;
    
    width: 100%;
    height: 100%;
}
.box-6 img {
    width: 90%;
    height: 30%;
    object-fit: contain;
    top: 60%;
    left: 3.5%;
}
.box-6 .highlight {
    font-size: max(min(2rem,4.45vw),1.8rem);
    left: 10%;
}
.box-6 .small-text {
    top: 30%;
    left: 10%;
    right: 2%;
}


.box-7 {
    background-color: hsl(31, 66%, 93%);
    border-radius: 5px;
    /* padding: 1rem; */
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    
}

.box-7 img {
    width: min(140px,90%);
    height: 27%;
    object-fit: contain;
    top: 55%;
    left: 5%;
}
.box-7 .highlight {
    font-size: max(min(1.4rem,3.4vw),1.1rem);
    line-height: 25px;
    left: 10%;
    right: 2%;
}

.box-8 {
    background-color: hsl(39, 100%, 71%);
    border-radius: 5px;
    /* padding: 1rem; */
    grid-column: 1/2;
    grid-row: 3/5;
    width: 100%;
    height: 100%;
    
}
.box-8 img {
    width:max(90%,90px);
    height: 50%;
    object-fit: contain;
    left: 1%;
    top: 45%;
}
.box-8 .highlight {
    font-size: max(min(1.4rem,3.4vw),1.1rem);
    line-height: 25px;
    left: 10%;
    right: 3.5%;
    top: 2%;
}

img .social-media-images {
    background-color:hsl(0, 0%, 100%) ;
}