body {
    background-color: hsl(0,4.8%,95.9%);

}
.bento-grid {
    width: 70%;
    background-color: hsl(0,4.8%,95.9%);
    margin-left: auto;
    margin-right: auto;

    display: grid;
    gap: 2.5rem;
   
    

}
.box-1 {
    background-color: hsl(256, 67%, 59%);
    padding: 1rem;

}
.box-2 {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    
}
.box-3 {
    background-color: hsl(39, 100%, 71%);
    padding: 1rem;
    
}
.box-4 {
    background-color: hsl(254, 88%, 90%);
    padding: 1rem;
    
}
.box-5 {
    background-color: hsl(256, 67%, 59%);
    padding: 1rem;
    
}
.box-6 {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    
}
.box-7 {
    background-color: hsl(31, 66%, 93%);
    padding: 1rem;
    
}
.box-8 {
    background-color: hsl(39, 100%, 71%);
    padding: 1rem;
    
}
img .social-media-images {
    background-color:hsl(0, 0%, 100%) ;
}